BASE_DATA_DIR=/Users/johnmullin/Desktop/desk/benji3m
PARQUET_PATH=/Users/johnmullin/Desktop/desk/import/oi_logger/backfills/1raws/oi_raw/master_data_table.parquet
MARKETCAP_DIR=/Users/johnmullin/Desktop/desk/benji3m/binetl/data/marketcap
JOBS_DIR=/Users/johnmullin/Projects/benji3m/backend/jobs
PIPELINE_DIR=/Users/johnmullin/Desktop/desk/benji3m
REDIS_URL=redis://localhost:6379/0
NODE_BIN=node
